body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.bg-blur {
    background: url('../Images/banner.png') no-repeat center center;
    background-size: cover;
    background-color: #2d3748; /* Fallback background color */
    filter: blur(5px);
    position: fixed; /* Use fixed to ensure it covers the entire screen */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100vw; /* Full width of the viewport */
    height: 100vh;
    z-index: -1;

}
.nav-right a {
    color: rgb(51, 130, 215);
    text-decoration: none;
    font-size: 17px;
    margin-left: 1000px;
}

.nav-right a:hover {
    color: rgb(199, 66, 194);
    border-radius: 5px;
}
.register-container {
    width: 50%;
    margin: 100px auto;
    padding: 20px 70px 5px;
    background:  rgba(87, 92, 109, 0.7);
    border: 3px solid rgb(31, 40, 108);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.register-container input {
    background-color: #1c1313;
    color: white;
 
}

div.formContainer {
    width:30%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

div.sign-upButton button{
    padding: 10px;
    background:linear-gradient(135deg, hsl(252, 55%, 54%), hsl(279, 65%, 60%));
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

div.sign-upButtont button:hover {
    background: darkblue;
}

a {
    color: rgb(157, 195, 236);
}
a:hover {
    color: rgb(199, 66, 194);
}
